body {
    background-color: #f0f0f0;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.btns {
    text-decoration: none;
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    transition: background-color 0.3s ease;
    border: none;

}
.btns:hover{
    background-color:rgb(70, 69, 69);
}

.div-header {
    display: flex;
} 


div.bg-ex {
    background-color: #e3f2fd;
    padding: 12px;
}

p.fs-ex {
    font-size: 50px;
    margin: 0;
}

p.ff-ex {
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
}


p.fw-ex {
    font-weight: 700;
}

div.ta-ex {
    text-align: center;
}

a.td-ex {
    text-decoration: underline;
}

div.bd-ex {
    border: 2px solid #1565c0;
    padding: 10px;
}

div.br-ex {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 10px;
}

div.mg-ex {
    margin: 20px 0;
    border: 1px dashed #999;
    padding: 8px;
}

div.pd-ex {
    padding: 20px;
    border: 1px solid #ddd;
}

div.wh-ex {
    width: 220px;
    height: 80px;
    border: 1px solid #bbb;
}

/* Largura e altura */

div.d-ex {
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
}

div.pos-container {
    position: relative;
    height: 120px;
}

div.pos-ex {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #aaa;
    padding: 6px;
}

.flex-container {
    display: flex;
    gap: 8px;
}

.div-flex {
    padding: 8px;
    border: 1px solid #ddd;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.div-grid {
    padding: 8px;
    border: 1px solid #ddd;
}

div.bs-ex {
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.12);
    padding: 10px;
}

div.op-ex {
    opacity: 0.6;
    padding: 8px;
    border: 1px solid #ccc;
}

button.tr-ex {
    background-color: #f1f1f1;
    border: 1px solid #bbb;
    padding: 8px 12px;
    transition: background-color 0.3s ease;

}

button.tr-ex:hover {
    background-color: #1565c0;
    color: white;
}



button.hv-ex {
    background-color: #f1f1f1;
    border: 1px solid #bbb;
    padding: 8px 12px;
}

button.hv-ex:hover {
    background-color: #1e88e5;
    color: white;
}


section {
    background-color: #ffffff;
    margin: 25px 60px;
    padding: 25px 40px;
    border-radius: 10px;
    border: 2px double #2213f3;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-3px);
    box-shadow: 4px 10px 18px rgba(0, 0, 0, 0.12);
}



header {
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #1572B6;
    padding: 20px;
    border-bottom: 4px solid #000;
}

.css {
    margin: 30px 70px;
}

