.btns {
    text-decoration: none;
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    transition: background-color 0.3s ease;

}

.btns:hover {
    background-color: rgb(70, 69, 69);
}


.buttons {
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    margin: 30px;
    padding: 30px;
    border: 2px solid #999;
    border-radius: 8px;

}

.website {
    text-align: center;
    font-size: 25px;
}

.intro {
    text-align: center;
}